@charset "UTF-8";

      body{
                font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
            }

        #title {
            /* border-bottom: 1px solid black; */
            width: 1200px;
            padding-top: 50px;
            /* padding-left: 30px; */
            font-size: 2.5em;
            margin: auto 100px;
            margin-bottom: 50px;
        }

        #sub_title {
            width: 1200px;
            padding-top: 20px;
            padding-bottom: 10px;
            margin: auto 100px;
        }

        #sub_box {
            border: 1px solid #999;
            width: 1200px;
            height: 600px;
            margin: auto auto;
        }

        #left {
            border-right: 1px solid #999;
            width: 200px;
            height: 600px;
            float: left;
        }
        
        #right {
            /* border: 1px solid blue; */
            width: 996px;
            height: 600px;
            float: left;
        }

        #img1 {
            border: 3px solid #888;
            padding: 10px;
            margin: 15px 10px;
            width: 150px;
            height:150px;
        }

        #info_id {
            /* border: 1px solid black; */
            width: 160px;
            margin: auto auto;
            margin-bottom: 20px;
            border-bottom: 1px solid #999;
            padding-bottom: 5px;
        }
        
        /* ν™•μΈν•„μ” */
        /* #id_text:read-only{
            width: 100px;
            margin: auto auto;
            border: 0px;
            padding-left: 5px;
            border: 0;
           
        } */
  		#address{
  			padding-top: 5px;
		}  
		
 		
		/* #address_txt{
			width: 500px;
		}  */
		
		
        #id_text{
            width: 100px;
            margin: auto auto;
            border: 0px;
            padding-left: 5px;
            border: 0;
            font-size: 1em;
           
        }



        
        
        #content {
            /* border: 1px solid black; */
            width: 900px;
            height: 450px;
            /* margin: 30px 50px; */
            margin-top: 50px;
            margin-bottom: 0px;
            margin-left: 50px;
            margin-right: 50px;
            
        }

        #btns {
            /* border: 0px solid black; */
            width: 230px;
            margin-left: 700px;
        }

        #reg_btn , #del_btn {
            border: 0;
            width: 100px;
            height: 30px;
            margin: 5px;
            outline: none;
            cursor: pointer;
            background-color: #7674E2;
            color: white;
        }

        .info {
            /* border: 1px solid black; */
            width: 650px;
            margin: 10px;
            margin: 30px auto;
        }

        .s {
            background-color: #F0F0F6;
            color: #2E364A;
            font-weight: bold;
            width: 170px;
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 12px;
            
        }
        
        
        #info_s {
        	display: block;
        	float:left;
        }
        
        

        #download {
            border: 0px solid black;
            width: 20px;
            height: 20px;
            margin-left: 10px;
            cursor: pointer;
        }

        #download:hover {
            color: #888;
        }


        .sub_txt {
            /* border: 1px solid black; */
            width: 125px;
            margin-left: 20px;
            margin-top: 10px;
            margin-bottom: 20px;
            float: left;
        }

        .info_img {
            /* border: 1px solid black; */
            width: 30px;
            height: 30px;
            margin: 10px 0 0 10px;
            float: left;
        }
